/* Circle components /*
/* size gameCircle to be centered, half the screen wide and half the screen tall */
.gameCircle {
  width: 50vw;
  height: 50vh;
  margin: auto;
}

/* disable the gamecircle, this should decrease saturation */
.disableCircle {
    filter: grayscale(60%);
}

/* colour scheme follow the convention of 2048 games */
* {
    margin: 0;
    padding: 0;
}

html {
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f0f1fa;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-size: 64px;
    color: #686e8f;
}

/* content wrapper */
.container {
    width: 50vw;
    margin: 20px auto;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.display-banner {
    display: flex;
    float: right;
}

.display-scores {
    text-align: center;
    width: 50px;
    height: 40px;
    border-radius: 3px;
    position: relative;
    display: block;
    background-color: #a0bbba;
    padding: 20px 20px;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #f5f5f5;
}

.intro {
    font-size: 20px;
    line-height: 1.5;
}

core-navbar {
    background-color: #a0bbba;
}

#clickToPlay {
    /* position in middle of screen overtop all other elements */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* make the text white */
    color: white;
    /* make the text bigger */
    font-size: 60px;
    /* make the text bold */
    font-weight: bold;
    text-align: center;
    width: max(800px, 50vw);
    background-color: #a0bbba;
    padding: 50px;
}
