/* colour scheme follow the convention of 2048 games */
* {
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: #faf8f0;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 64px;
  color: #776e65;
}

/* content wrapper */
.container {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.301);
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.display-banner {
  display: flex;
  float: right;
}

.display-scores {
  text-align: center;
  width: 50px;
  height: 40px;
  border-radius: 3px;
  position: relative;
  display: block;
  background-color: #bbada0;
  padding: 20px 20px;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #f5f5f5;
}

.intro {
  font-size: 20px;
  line-height: 1.5;
}

#new-btn {
  height: 30px;
  border-style: none;
  border-radius: 10px;
  padding: 4px;
  background-color: #bbada0;
  color: #f5f5f5;
  outline: 0;
  float: right;
}

#new-btn:hover {
  border-radius: 10px;
  background-color: rgb(175, 161, 132);
}

/* game board that contains the grid of tiles */
.game-board {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #bbada0;
}

/* cells on the game board */
.game-board div {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 6px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  background-color: #eee4da;
  color: #afa192;
}

/* font size depends on number of digits in the tile  */
[data-digits="0"] {
  color: rgb(175, 161, 132) !important; /* needed to override the font colour */
}

[data-digits="1"] {
  font-size: 60px;
}

[data-digits="2"] {
  font-size: 48px;
}

[data-digits="3"] {
  font-size: 36px;
}

[data-digits="4"] {
  font-size: 32px;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }

  /* game board that contains the grid of tiles */
  .game-board {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    width: 444px;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
  }

  /* cells on the game board */
  .game-board div {
    width: 64px;
    height: 64px;
    line-height: 80px;
    margin: 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 48px;
    background-color: #eee4da;
    color: #afa192;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}