 * {
    margin: 0;
    padding: 0;
 }

 html {
    user-select: none;
 }


 /* colour scheme follow the convention of 2048 games */
 body {
   height: 100%;
   width: 100%;
   background-color: #faf8f0;
   font-size: 16px;
 }

h1 { 
   font-size: 64px;
   color:#776E65;
 }

 /* Content Wrapper*/
 .container {
   width: 600px;
   margin: 20px auto;
 }

 /* display scores */
.title {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.display-banner {
   display: flex;
   float: right;

}

 .display-scores {
   text-align: center;
   width: 50px;
   height: 40px;
   border-radius: 3px;
   position: relative;
   display: block;
   background-color: #bbada0;
   padding: 20px 20px;
   margin-left: 20px;
   font-size: 16px;
   text-transform: uppercase;
   color: #f5f5f5;
 }

.intro {
   font-size: 20px;
   line-height: 1.5;
}

#new-btn {
   height: 30px;
   border-style: none;
   border-radius: 10px;
   padding: 4px;
   background-color: #bbada0;
   color: #f5f5f5;
   outline: 0;
   float: right;
}

#new-btn:hover{
  border-radius: 10px;
  background-color:rgb(175, 161, 132);
}


/* Game board display the grid and tiles */
 .game-board {
   margin-top: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 10px;
   width: 600px;
   height: 600px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #bbada0;

 }

 /* cells */
 .game-board div {
   width: 80px;
   height: 80px;
   line-height: 80px;
   margin: 6px;
   border-radius: 3px;
   font-weight: bold;
   text-align: center;
   background-color: #eee4da;
   color: #afa192;
 }

 /* add colour to cells */
 [data-digits="0"]{
  color: rgb(175, 161, 132)!important
 }
 [data-digits="1"] {
   font-size: 60px;
 }

 [data-digits="2"] {
   font-size: 48px;
 }
 [data-digits="3"] {
   font-size: 36px;
 }
 [data-digits="4"] {
   font-size: 32px;
 }