 * {
    margin: 0;
    padding: 0;
 }

 html {
    user-select: none;
 }


 /* colour scheme follow the convention of 2048 games */
 body {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   background-color: #faf8f0;
   font-size: 16px;
 }

h1 { 
   font-size: 64px;
   color:#776E65;
 }

 /* Content Wrapper*/
 .container {
   width: 600px;
   margin-top: 20px;
 }

 /* display scores */
.title {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.display-banner {
   display: flex;
   float: right;

}

 .display-scores {
   text-align: center;
   width: 50px;
   height: 40px;
   border-radius: 3px;
   position: relative;
   display: block;
   background-color: #bbada0;
   padding: 20px 20px;
   margin-left: 20px;
   font-size: 16px;
   text-transform: uppercase;
   color: #f5f5f5;
 }

.intro {
   font-size: 20px;
   line-height: 1.5;
}


/* Game board display the grid and tiles */
 .game-board {
   margin-top: 30px;
   border-radius: 10px;
   width: 600px;
   height: 600px;
   display: flex;
   flex-wrap: wrap;
   background-color: #bbada0;

 }