/* colour scheme follow the convention of 2048 games */
* {
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: #faf8f0;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 64px;
  color: #776e65;
}

/* content wrapper */
.container {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.display-banner {
  display: flex;
  float: right;
}

.display-scores {
  text-align: center;
  width: 50px;
  height: 40px;
  border-radius: 3px;
  position: relative;
  display: block;
  background-color: #bbada0;
  padding: 20px 20px;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #f5f5f5;
}

.intro {
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
}

#new-btn {
  height: 30px;
  border-style: none;
  border-radius: 10px;
  padding: 4px;
  background-color: #bbada0;
  color: #f5f5f5;
  outline: 0;
  float: right;
}

#new-btn:hover {
  border-radius: 10px;
  background-color: rgb(175, 161, 132);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  font-size: calc(var(--cell-size) / 8 * 3);
  background-color: #bbada0;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
  margin-top: 30px;
}

.cell {
  background-color: #afa184;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  color: #afa192;
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

/* font size depends on number of digits in the tile  */
[data-digits="0"] {
  color: rgb(175, 161, 132) !important; /* needed to override the font colour */
}

[data-digits="1"] {
  font-size: 60px;
}

[data-digits="2"] {
  font-size: 48px;
}

[data-digits="3"] {
  font-size: 36px;
}

[data-digits="4"] {
  font-size: 32px;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}