/* content wrappers */
html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: "Varela Round", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.header {
  font-size: 48px;
  text-transform: uppercase;
}

.display-scores {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 20px;
  border-radius: 3px;
  position: relative;
  background-color: #6aaa64;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #f5f5f5;
}

.display-header {
  padding-right: 5px;
}

/* grid of tiles */
.grid {
  display: grid;
}

/* 5 x 8 grid of tiles */
#grid {
  grid-template-rows: repeat(8, 64px);
  grid-template-columns: repeat(5, 64px);
  margin: 24px;
}

/* 5 x 1 grid of tiles representing a word */
#word-grid {
  grid-template-rows: repeat(1, 48px);
  grid-template-columns: repeat(5, 48px);
  margin: 16px;
}

/* tiles and tile variations */
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-size: 36px;
  text-transform: uppercase;
  border-radius: 8px;
}

.tile[data-type="empty"] {
  background-color: transparent;
  border: 2px solid #d3d6da;
}

.tile[data-type="full"] {
  background-color: transparent;
  border: 2px solid #878a8c;
  color: black;
}
.tile[data-type="right"] {
  background-color: #6aaa64;
  color: white;
  border: none;
}

.tile[data-type="right-letter"] {
  background-color: #c9b458;
  color: white;
  border: none;
}

.tile[data-type="wrong"] {
  background-color: #787c7e;
  color: white;
  border: none;
}

.tile[data-size="small"] {
  font-size: 24px;
  border-radius: 4px;
  margin: 2px;
}

/* end game components */
#end-message {
  font-size: 32px;
  margin: 4px;
  text-align: center;
}

#end-message[data-result="win"] {
  color: #6aaa64;
}

#end-message[data-result="lose"] {
  color: #787c7e;
}

#word-reveal {
  font-size: 16px;
  margin: 4px;
}

/* icons */
.icon-group {
  display: flex;
  justify-content: center;
}
.icon {
  fill: #787c7e;
}

.icon:hover {
  fill: black;
}
