/* content wrappers */
html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

/* header */
.header {
    font-size: 48px;
    text-transform: uppercase;
}

/* grid of tiles */
.grid {
    display: grid;
}

#grid {
    grid-template-rows: repeat(8, 64px);
    grid-template-columns: repeat(5, 64px);
    margin: 24px;
}

/* tiles and tile variations */
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-size: 36px;
    text-transform: uppercase;
    border-radius: 8px;
}

.tile[data-type="empty"] {
    background-color: transparent;
    border: 2px solid #d3d6da;
}

.tile[data-type="full"] {
    background-color: transparent;
    border: 2px solid #878a8c;
    color: black;
}
.tile[data-type="right"] {
    background-color: #6aaa64;
    color: white;
    border: none;
}

.tile[data-type="right-letter"] {
    background-color: #c9b458;
    color: white;
    border: none;
}

.tile[data-type="wrong"] {
    background-color: #787c7e;
    color: white;
    border: none;
}

/* end game components */
#end-message {
    font-size: 32px;
    margin: 4px;
    text-align: center;
}

#end-message[data-result="win"] {
    color: #6aaa64;
}

#end-message[data-result="lose"] {
    color: #787c7e;
}

#word-reveal {
    font-size: 16px;
    margin: 4px;
}