* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f0f1fa;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-size: 64px;
    color: #686e8f;
}

/* content wrapper */
.container {
    width: 45vw;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.display-banner {
    display: flex;
    float: right;
}

.display-scores {
    text-align: center;
    width: 50px;
    height: 40px;
    border-radius: 3px;
    position: relative;
    display: block;
    background-color: #ea596e;
    padding: 20px 20px;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #f5f5f5;
}

.game {
  outline: 1px solid black;
  background-color: #686e8f;
  width: 800px;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items:center;
  column-gap: 20px;

  padding: 20px;
}

.game .poke-tile-set {
  width: 600px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game .poke-tile-set table {
  width: 600px;
  height: 600px;
}

.game .poke-tile-set .time-tracker {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
}

.game .poke-tile-set .time-tracker .fill {
  background-color: rgb(81, 168, 255);
  height: 100%;
  width: 0%;
}

@keyframes decrease-fill {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.game .poke-tile-set table tr td {
  text-align: center;
  background-color: rgb(255, 187, 187);
  width: 50%;
  height: 50%;
  padding: 0;

  font-size: 24px;
  animation: font-grow 0.5s ease;
}

.game .poke-img-set {
  background-color: rgb(255, 187, 187);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 10px;

  padding-top: 10px;
  height: calc(160px * 4 + 40px);
  width: 180px;
}

.poke-img {
  background-color: white;
  transition: 0.5s ease;
}

.poke-img.hidden {
  height: 160px;
  width: 160px;
}

.poke-img.shown {
  height: calc(100%);
  width: calc(100%x);
  margin-left: 0px;
  animation: grow 0.5s;
}

.poke-img img {
  height: 100%;
  animation: grow 0.5s;
}

.poke-img.hidden img {
  filter: contrast(0);
}

.poke-img.shown img {
  filter: contrast(1);

  animation: green-bg-color-change 1s ease !important;
  animation-delay: 1s ease;

  background-color: rgb(120, 200, 120);
}

.pre-game-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.pre-game-modal .content {
  width: 1200px;
  height: 180px;
  background-color: rgb(129, 129, 129);
  pointer-events: all;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 800;
  
  background-color: #ea596e;
  color: white;
}

@keyframes font-grow {
  from {
      font-size: 16px;
  }
  to {
    font-size: 24px;
  }
}

@keyframes grow {
  from {
      transform: scale(0.8);
  }
  to {
      transform: scale(1);
  }
}

@keyframes green-bg-color-change {
  from {
      background-color: white;
  }
  to {
    background-color: rgb(120, 200, 120);
  }
}


.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: rgb(255, 98, 98);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}