/* definition of theme colours */
:root {
  --theme: #ea596e;
}

/* basic CSS reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* the navbar used in all mini games */
core-navbar {
  background: var(--theme);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}
core-navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}
core-navbar a:hover,
core-navbar a:active {
  transform: scale(1.4);
}
core-navbar > div {
  padding: 8px;
}

/* colors based on the colors used in the logo*/
.title-color-brain,
.title-color-brain-hover:hover {
  color: #f4abba;
}
.title-color-brain-outline,
.title-color-brain-outline-hover:hover {
  color: #ea596e;
}
.title-color-text-outline,
.title-color-text-outline-hover:hover {
  color: #d82d46;
}

.games-button {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #707070;
  display: inline-block;
  cursor: pointer;
  color: #595959;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  width: 20%;
  height: 35%;
}

.games-button:hover {
  background-color: #ea596e;
  color: #ffffff;
  transition: 0.3s;
}

.game-button-img {
  width: 60%;
}

.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  transition: 0.6s;
  width: 35%;
}

.game-details {
  position: absolute;
  left: 10%;
  top: 15%;
  opacity: 0%;
  transition: 0.6s;
}

.game-details-title {
  width: 40%;
  color: #595959;
  font-size: 28px;
  font-weight: bold;
}

.game-details-text {
  width: 40%;
  color: #595959;
  font-size: 22px;
}

.game-details-img {
  position: absolute;
  left: 60%;
  top: 5%;
  width: 30%;
}

#capidle-btn {
  position: absolute;
  left: 10%;
  bottom: 5%;
}

#liedle-btn {
  position: absolute;
  left: 40%;
  bottom: 5%;
}

#a2048expert-btn {
  position: absolute;
  left: 70%;
  bottom: 5%;
}

/* the modal window used in all mini games */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fade 1s ease 0s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-window {
  padding: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 80px auto 0;
  background-color: white;
  max-width: 50%;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

/* on small screens, the modal can be wider than normal */
@media only screen and (max-width: 700px) {
  .modal-window {
    max-width: 75%;
  }
}

.modal-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.modal-text {
  margin-bottom: 32px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 20px;
}

#close-btn {
  color: #787c7e;
  float: right;
  margin-top: -16px;
  font-size: 32px;
}

#close-btn:hover,
#close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100%;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(245, 94, 165, 0.7);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}