/* definition of theme colours */
:root {
  --theme: #ea596e;
}

/* basic CSS reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* the navbar used in all mini games */
core-navbar {
  background: var(--theme);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  height: 45px;
}
core-navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}
core-navbar a:hover,
core-navbar a:active {
  transform: scale(1.4);
}
core-navbar > div {
  padding: 8px;
}

/* colors based on the colors used in the logo*/
.title-color-brain,
.title-color-brain-hover:hover {
  color: #f4abba;
}
.title-color-brain-outline,
.title-color-brain-outline-hover:hover {
  color: #ea596e;
}
.title-color-text-outline,
.title-color-text-outline-hover:hover {
  color: #d82d46;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 45px);
  max-height: 200vh;
}

#center-info {
  display:flex;
  justify-content: center;
  align-items: center;

  height: 52%;
  position: relative;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 48%;
}


.games-button {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #707070;
  display: inline-block;
  cursor: pointer;
  color: #595959;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  /* width: 20%;
  height: 35%; */
  width: 380px;
  height: 320px; 
  display: flex;
  flex-direction: column;
}

.games-button:hover {
  background-color: #ea596e;
  color: #ffffff;
  transition: 0.3s;
}

.game-button-img {
  width: 60%;
}

.title-img {
  display: block;
  /* margin-left: auto;
  margin-right: auto;*/
  margin-top: 4%; 
  transition: 0.6s;
  height: 340px;
}

.game-details {
  /* position: absolute; */
  /* left: 10%; */
  /* top: 15%; */
  /* opacity: 0%; */
  transition: 0.6s;
  transition: opacity 0.6s ease-out;
  
  width: 80%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 2%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0%;
}

.game-details div {
  width: 50%;
  height: 345px;
}

.game-details-title {
  /* width: 40%; */
  color: #595959;
  font-size: 28px;
  font-weight: bold;
}

.game-details-text {
  /* width: 40%; */
  color: #595959;
  font-size: 22px;
}

.game-details-img {
  /* position: absolute; */
  /* left: 60%;
  top: 5%;*/
  height: 345px;
}

#capidle-btn {
  /* position: absolute; */
  /* left: 10%;
  bottom: 5%; */
}

#liedle-btn {
  /* position: absolute; */
  /* left: 40%;
  bottom: 5%; */
}

#a2048expert-btn {
  /* position: absolute; */
  /* left: 70%;
  bottom: 5%; */
}

/* the modal window used in all mini games */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fade 1s ease 0s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-window {
  padding: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 80px auto 0;
  background-color: white;
  max-width: 50%;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
  .game-details {
    flex-direction: column;
    row-gap: 30px;
  }
  .game-details div{
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #center-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60%;
  }

  #title-img {
    width: 80%;
    height: auto;
  }

  .game-details {
    font-size: 16px;
    height: 80%;
    left: 10%;
    top: 10%;
    width: 80%;
    margin-top: 0;
  }

  .game-details-title {
    font-size: 24px;
  }
  
  .game-details-text {
    font-size: 18px;
  }

  .game-details-img {
    height: 180px;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
  }

  .games-button {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
  }

  .game-button-img {
    width: 64px;
  }
}

/* on small screens, the modal can be wider than normal */
@media only screen and (max-width: 700px) {
  .modal-window {
    max-width: 75%;
  }
}

.modal-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.modal-text {
  margin-bottom: 32px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 20px;
}

#close-btn {
  color: #787c7e;
  float: right;
  margin-top: -16px;
  font-size: 32px;
}

#close-btn:hover,
#close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


