/* definition of theme colours */
:root {
  --theme: #ea596e;
}

/* basic CSS reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* title for main page */
.title {
  position: relative;
  justify-content: center;
  margin-left: 60px;
  margin-bottom: 10px;
}

/* the navbar used in all mini games */
core-navbar {
  background: var(--theme);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  height: 50px;
}
core-navbar a,b {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}
core-navbar a:hover,
core-navbar a:active {
  transform: scale(1.4);
}
core-navbar b:hover,
core-navbar b:active {
  transform: scale(1.2);
}
core-navbar > div {
  padding: 10px;
}

/* best scores for all games */
core-modal {
  position:relative;
  z-index: 3;
}

.best-scores {
  position: relative;
  top: 0;
  margin-right: 3px;
  border-radius: 3px;
  padding: 2px;
  user-select: none;
  background-color: #f4abba;
  color: #f5f5f5;
}

.best-game-list {
  display: flex;
  justify-content: space-around;
  position: relative;
  max-width: 500px;
  max-height: 200px;
}

.best-game-scores {
  display: inline-block;
  justify-content: center;
  position: relative;
  text-align: center;
  max-width: 100px;
  max-height:100px;
  margin-bottom: 50px;
  font-size: 30px;
  color: #595959;
}

.best-game-img {
  max-width: 80px;
  max-height: 80px;
  aspect-ratio: auto;
  object-fit: contain;
}

/* best scores for all games */
.best-scores {
  position:relative;
  justify-content: center;
  margin-right: 3px;
  padding: 6px;
  border-radius: 3px;
  background-color: #f4abba;
  color: #f5f5f5;
}

.best-game-list {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 500px;
  height: 200px;
}

.best-game-scores {
  display: inline-block;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: #595959;
}

.best-game-img {
  width: 80%;
  height: 50%;
}

/* colors based on the colors used in the logo*/
.title-color-brain,
.title-color-brain-hover:hover {
  color: #f4abba;
}
.title-color-brain-outline,
.title-color-brain-outline-hover:hover {
  color: #ea596e;
}
.title-color-text-outline,
.title-color-text-outline-hover:hover {
  color: #d82d46;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 45px);
  max-height: 200vh;
}

#center-info {
  display:flex;
  justify-content: center;
  align-items: center;

  height: 52%;
  position: relative;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 48%;
}


.games-button {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #707070;
  display: inline-block;
  cursor: pointer;
  color: #595959;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  width: 380px;
  height: 320px; 
  display: flex;
  flex-direction: column;
}

.games-button:hover {
  background-color: #ea596e;
  color: #ffffff;
  transition: 0.3s;
}

.game-button-img {
  width: 60%;
}

.title-img {
  display: block;
  margin-top: 4%; 
  transition: 0.6s;
  height: 340px;
}

.game-details {
  transition: 0.6s;
  transition: opacity 0.6s ease-out;
  
  width: 80%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 2%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0%;
}

.game-details div {
  width: 50%;
  height: 345px;
}

.game-details-title {
  color: #595959;
  font-size: 28px;
  font-weight: bold;
}

.game-details-text {
  color: #595959;
  font-size: 22px;
}

.game-details-img {
  height: 345px;
}

/* the modal window used in all mini games */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fade 1s ease 0s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-window {
  padding: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 80px auto 0;
  background-color: white;
  max-width: 50%;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
  .game-details {
    flex-direction: column;
    row-gap: 30px;
  }
  .game-details div{
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #center-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60%;
  }

  #title-img {
    width: 80%;
    height: auto;
  }

  .game-details {
    font-size: 16px;
    height: 80%;
    left: 10%;
    top: 10%;
    width: 80%;
    margin-top: 0;
  }

  .game-details-title {
    font-size: 24px;
  }
  
  .game-details-text {
    font-size: 18px;
  }

  .game-details-img {
    height: 180px;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
  }

  .games-button {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
  }

  .game-button-img {
    width: 64px;
  }
}

/* on small screens, the modal can be wider than normal */
@media only screen and (max-width: 700px) {
  .modal-window {
    max-width: 75%;
  }
}

.modal-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.modal-text {
  margin-bottom: 32px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 20px;
}

#close-btn {
  color: #787c7e;
  float: right;
  margin-top: -16px;
  font-size: 32px;
}

#close-btn:hover,
#close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100%;
}

.circles{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(245, 94, 165, 0.7);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
