html,
body {
  height: 100%;
}

/* grid config */
body {
  display: grid;
  grid-template:
    /* this is the default grid for large screens */
    "nav nav nav nav" auto
    "map . main ." 1fr /
    50% 1fr auto 1fr;
}
@media only screen and (max-width: 700px) {
  body {
    grid-template:
      /* this is the grid used for small screens */
      "nav" auto
      "map" 45vh
      "main" 1fr /
      1fr;
  }
  main {
    place-self: center;
  }
}

/* the content used while the game is in progress */
#map {
  grid-area: map;
}

main {
  grid-area: main;
  background-color: #0f0;
  max-width: 300px;
  margin: 16px;
}

#guess-rows > div {
  justify-content: space-between;
  display: flex;
}

.empty-guess,
.guess {
  height: 20px;
  background: #aaa;
  margin: 4px;
  border-radius: 4px;
}

core-navbar {
  grid-area: nav;
}
