/* definition of theme colours */
:root {
  --theme: #009688;
}

/* basic CSS reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont /** TODO: other fonts go here */, sans-serif;
}

/* the navbar used in all mini games */
core-navbar {
  background: var(--theme);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}
core-navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}
core-navbar a:hover,
core-navbar a:active {
  transform: scale(1.4);
}
core-navbar > div {
  padding: 8px;
}
