/* definition of theme colours */
:root {
  --theme: #009688;
}

/* basic CSS reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont /** TODO: other fonts go here */, sans-serif;
}

/* the navbar used in all mini games */
core-navbar {
  background: var(--theme);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}
core-navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}
core-navbar a:hover,
core-navbar a:active {
  transform: scale(1.4);
}
core-navbar > div {
  padding: 8px;
}

/* the modal window used in all mini games */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fade 1s ease 0s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-window {
  padding: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 80px auto 0;
  background-color: white;
  max-width: 50%;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

/* on small screens, the modal can be wider than normal */
@media only screen and (max-width: 700px) {
  .modal-window {
    max-width: 75%;
  }
}

.modal-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.modal-text {
  margin-bottom: 32px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 20px;
}

#close-btn {
  color: #787c7e;
  float: right;
  margin-top: -16px;
  font-size: 32px;
}

#close-btn:hover,
#close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
